/MysqlBackup/MysqlBackup/bin
/MysqlBackup/MysqlBackup/obj
/.vs
/ElectronNETDemo/obj
/ElectronNETDemo/bin
/ElectronNETDemo/.vs
/ElectronNETDemo/ElectronNETDemo/obj
/ElectronNETDemo/ElectronNETDemo/bin
